<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Weather App</a>
        <div class="d-flex">
            <span class="navbar-text me-3" th:if="${user}" th:text="${user.login}">User</span>
            <form th:if="${user}" th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn btn-light">Logout</button>
            </form>
            <a class="btn btn-light" th:unless="${user}" href="/login">Login</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="d-flex flex-wrap align-items-start align-items-center">

        <div class="weather-card me-3" th:if="weather" th:each="weather : ${weather}">

            <div class="weather-header">
                <h2 th:text="${weather.cityName}">City Name</h2>
                <img th:src="${weather.iconUrl}" alt="Weather Icon">

            </div>
            <div class="weather-info">
                <p class="temperature">
                    <span th:text="${weather.temperature}">0</span>°C
                    <span th:text="${weather.description}">Weather Description</span>
                </p>
                <div class="weather-details">
                    <p>   Latitude: <span th:text="${weather.location.latitude}">0</span></p>
                    <p>   Longitude: <span th:text="${weather.location.longitude}">0</span></p>
                    <p>🌡 Feels like: <span th:text="${weather.feelsLike}">0</span>°C</p>
                    <p>💨 Wind: <span th:text="${weather.windSpeed}">0</span> m/s</p>
                    <p>🌬️ Humidity: <span th:text="${weather.humidity}">0</span>%</p>
                    <p>📍 Pressure: <span th:text="${weather.pressure}">0</span> hPa</p>
                </div>
            </div>

            <form
                    th:method="post"
                    th:action="@{/weather/delete/{user}/{city} (user=${user.login}, city=${weather.cityName})}">
                <button type="submit" class="edit-btn btn btn-delete">Delete weather</button>
            </form>

        </div>

        <form class="weather-card add-city-card"  id="add-city-form">
            <a class="add-city-content" th:href="@{/weather/find}">
                <i class="fas fa-plus"></i>
            </a>
        </form>

    </div>
</div>

</body>
</html>



